/* Basic reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightsteelblue;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding:1rem;
    font-family: Comic Sans MS, cursive, sans-serif;
}

.container{
    background-color: rgba(237, 230, 232, 0.633);
    border-radius:1rem;
    box-shadow: 0 10px 30px rgba(0,0,0,0.28);
    width:100%;
    min-width: 600px;
    overflow: hidden;
    position: relative;
}

/* Scroe */
.screen{
    display:none;
    padding:2rem;
    text-align: center;
}
.screen-active{
    display:block;
}

#start-screen h1{
    color:rgb(46, 26, 2);
    margin-bottom:20px;
    font-size: 2.5rem;
}

.quiz-header{
    margin-bottom:2rem;
}
#question-text{
    color:thistle;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    line-height: 1.4;
}

.quiz-info{
    display:flex;
    justify-content: center;
    color:azure;
    margin-bottom: 10px;
}

.answers-container{
    display:flex;
    flex-direction:column;
    gap: 10px;
    margin-bottom: 25px;
}
.answer-btn{
    background-color: lemonchiffon;
    color:darkslategrey;
    border: 2px solid dimgray;
    border-radius: 10px;
    padding: 1rem;
    cursor:pointer;
    text-align:left;
}
.answer-btn:hover{
    background-color: lightgoldenrodyellow;
    border-color:blanchedalmond
}
.answer-btn.correct{
    background-color: lightgreen;
    border-color:burlywood;
    color:darkgreen;
}
.progress-bar{
    height:10px;
    background-color: aliceblue;
    border-radius: 5px;
    overflow: hidden;
    margin-top:20px
}

.progress{
    height:100%;
    background-color: brown;
    width:0%;
    transition: width 0.3s ease;
}

/* Result */
#result-screen h1{
    color:rgb(156, 21, 21);
    margin-bottom:30px;
}

.result-info{
    background-color: #d5e5f4;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
}

.result-info p{
    font-size:1.2rem;
    font-weight: 600;
    color: rgb(249, 145, 145);    
}

button{
    background-color: #f47a75;
    color:white;
    border:none;
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: #cd2d2d;
}

/* Responsive design */
@media (max-width:500px){
    /*when we hit <=500px, implement the styles below*/
    .screen{
        padding: 1rem;
    }
    #start-screen h1{
        font-size: 2rem;
    }
    #question-text{
        font-size:1.3rem;
    }
    .answer-btn{
        padding:12px;
    }
    button{
        padding: 12px 25px;
        font-size: 1rem;
    }

}
