body{
  background-image: linear-gradient(37deg, #9ebdbb, #d4e8e9);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin: 0px;
  border-radius: 10px;
}
.card{
  border: 1px solid #d6e8e8;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #09555523;
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block; 
}

.card .card-img{
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .card-title{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0;
  color: rgb(5, 35, 46);
}

.card .card-text{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:rgb(17, 66, 63);
}

/* .btn{
  background-color: #0e3b4d;
  color: rgb(202, 228, 235);
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  box-shadow: 2px 4px 5px;
} */

.student{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.3em;
  padding: 10px;
  border: 1px solid rgba(180, 210, 220, 0.884);
  text-shadow: 1px solid rgba(13, 69, 62, 0.884);
}

.student p{
  margin: 0;
}

.wc_msg{
  font-size: 1.75rem;
  text-align: center;
  background-image: linear-gradient(37deg, #9eb4bd, #d4e9e9);
  color:#0c3c3c;
  padding: 6px;
  border-radius: 10px;
  margin:0;
}

.login_prompt{
  font-size: 1.75rem;
  text-align: center;
  background-image: linear-gradient(37deg, #a87c83, #daccc5);
  color:#280303;
  padding: 6px;
  border-radius: 10px;
  margin:0;
}

.list_title{
  font-size: 1.75rem;
  text-align: center;
  background-image: linear-gradient(37deg, #9eb4bd, #d4e9e9);
  color:#0c3c3c;
  padding: 6px 6px 0px 6px;
  border-radius: 10px;
  margin:0;
}

.list_desc{
  background-image: linear-gradient(37deg, #85a0ab, #d4e9e9);
  border-radius: 10px;
  padding: 0px 3px 1px;
}
.list_css li{
  font-size: 1.25em;
  font-weight: 530;
  color:#06243d;
  background-image: linear-gradient(37deg, #a8cedd, #d4e9dd);
  border-radius: 10px;
  padding: 0px 5px 3px 5px;
  margin: 5px;
  border: 1px solid rgba(29, 70, 103, 0.884);
  box-shadow: 1px 1.5px 2.25px rgba(29, 70, 103, 0.884);
}
.list_css li:hover{
  background-image: linear-gradient(37deg, #8fb2c0, #b5cfc0);
  border-radius: 10px;
  padding: 0px 5px 3px 5px;
  margin: 5px;
  border: 1px solid rgba(29, 70, 103, 0.884);
  box-shadow: 1px 1.5px 2.25px rgba(29, 70, 103, 0.884);
}